// Place all the styles related to the PostsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.post {
	width: 98%;
	margin: 10px auto;
	box-shadow: 0 0 7px 1px $box_shadow_color;
}

.post-single-image-container {
	text-align: center;
}

.post-stats {
	&::before, &::after{
		content: "";
		display: block;
		position: relative;
		background-color: $divider_color;
		top: 0;
		width: 80%;
		height: 2px;
		margin: 0 auto;
	}

	&::after {
		bottom: 0;
	}

	.columns {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.post-title {
	padding: 0 5%;
	margin-top: 10px;
}

.post-single-header {
	border-left: 3px solid $divider_color;
	padding-left: 20px;
	margin-top: 20px;
}

.post-single-content-link {
	margin: 10px 0;
}

#comments {
	margin-top: 15px;
}

.comment {
	padding: 10px 2%;
	margin: 20px auto;
	box-shadow: 0 0 5px 1px $box_shadow_color;
}

.comment-user {
	font-weight: 700;
}